*{
    margin: 0;
    padding: 0;
}
.main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    background-color: rgb(248, 248, 248);
}
.nav1{
    height: 10vh;
    background-color: rgb(41, 134, 221);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    gap: 5vh;
    padding-right: 25vh;
    align-items: center;
}
select{
    height: 5vh;
    border-radius: 1vh;
    width: 10vw;
}
input{
    height: 5vh;
    border-radius: 1vh;
}
.pic img{
    border-radius: 50%;
    height: 20vh;
    width: 10vw;
    margin-top: 60%;
    margin-left: 3vh;
}
.nav2{
    margin-top: 13vh;
    margin-left: 3vh;
}
.lower{
    margin-left: 3vh;
    margin-right: 3vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
}
.posts{
    margin-top: 3vh;
    display: grid;
    /* grid-template-columns: 23% 70%; */
}
.post{
    display: flex;
    margin-bottom: 3vh;
    border-bottom: 3px solid rgb(224, 224, 224);
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 3vh;
}
.comment{
    display: flex;
    margin-bottom: 5vh;
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 3vh;
}

.posts:hover{
    cursor: pointer;
}
.posts2{
    display: flex;
    gap: 3vh;
}
.post-pic img{
    /* height: 10vh; */
    width: 8vw;
}
.reactions {
    display: flex;
    justify-content: space-between;
    /* margin-right: 5px; */
}
.post-comments{
    margin-top: 3vh;
}
.post-content{
    margin-left: 3vh;
}
.profile-img{
    width: 5rem !important;
}
.profile-info{
    margin-left: 3vh;
    margin-right: 3vh;
}
